*.pyc
*~
*.swo
*.swp
*.sqlite3
media-images
cache
.idea
.sass-cache
docs
todo.py
.DS_Store
*/.DS_Store
settings_local*
media
static
# Added by Django Setting Local `dsl`
settings_local*

# Added by `dsl` (Django Setting Local)
settings_local*
