Django==3.1.7

celery
dictor

django-admin-autocomplete-filter
django-cors-headers
django-debug-toolbar
django-extensions
django_json_widget
django-material-admin
django-modeladmin-reorder
django-settings-local
django-structlog

djangorestframework
drf_yasg2

img2pdf
jsonfield
psycopg2
python-dateutil
requests
stringcase
#uWSGI
