Django==3.1.7

celery
dictor

django-admin-autocomplete-filter
django-cors-headers
django-debug-toolbar
django-extensions
django-health-check
django_json_widget
django-material-admin
django-modeladmin-reorder
django-settings-local
django-structlog

djangorestframework
drf_yasg2

furl
#img2pdf
https://github.com/fasih/img2pdf/archive/refs/tags/0.4.1.tar.gz
jsonfield
psycopg2
python-dateutil
requests
stringcase
#uWSGI
